:root{
  --background-color: #1e293b;
  --primary-color: #334155;
  --minor-color:#404040;
  --semi-color: #64748b;
}

body{
    background-color: var(--background-color);
    margin: 0;
}

.floating-eff{
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
}

.sq-lg-box{
  display: flex;  
  width: 35rem;
  height:35rem; 
  background-color: var(--minor-color);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  
}

.sq-md-box{
  display: flex;
  width: 20rem;
  height: 20rem;  
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.sq-sm-box{
  width:5rem;
  height: 5rem;  
}

.x-o-board{
  display: grid;
  width: 10rem;
  height: 10rem;
  background-color: var(--semi-color);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;  
}